<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardMapper" >
	<select id="selectPage" parameterType="map" resultType="kh.member.model.vo.BoardVO">
		SELECT POSTID, POSTNAME,ID, NICKNAME, GAMENAME
     , NOWDATE, CONTENTS FROM (SELECT ROWNUM AS N
                                    , POSTID
                                    , POSTNAME
                                    , ID
                                    , NICKNAME
                                    , GAMENAME
                                    , NOWDATE
                                    , CONTENTS
                                 FROM (SELECT * FROM POST_T ORDER BY NOWDATE DESC)
                                 )
                         WHERE N BETWEEN #{start} AND #{end}
	</select>
	<select id="getNickname" resultType="string">
		SELECT NICKNAME FROM MEMBER_T WHERE ID =#{id}
	</select>
	<select id="getGameNameCount" resultType="int" >
		SELECT COUNT(*) FROM GAME_T WHERE GAMENAME=#{name}
	</select>
	<select id="getRowCount" resultType="int" >
		SELECT COUNT(*) FROM POST_T
	</select>
	<select id="getNameRowCount" resultType="int" >
		SELECT COUNT(*) FROM POST_T WHERE GAMENAME=#{name}
	</select>
	<select id="getGenreRowCount" resultType="int" >
		SELECT COUNT(*) FROM GR_GA_T WHERE GENRENAME=#{genre}
	</select>
	<select id="searchName" parameterType="kh.member.model.vo.SearchDTO" resultType="kh.member.model.vo.BoardVO">
		SELECT POSTID, POSTNAME,ID, NICKNAME, GAMENAME
     , NOWDATE, CONTENTS FROM (SELECT ROWNUM AS N
                                    , POSTID
                                    , POSTNAME
                                    , ID
                                    , NICKNAME
                                    , GAMENAME
                                    , NOWDATE
                                    , CONTENTS
                                 FROM (SELECT * FROM POST_T ORDER BY NOWDATE DESC) WHERE GAMENAME= #{keyword}
                                 )
                         WHERE N BETWEEN #{start} AND #{end}
	</select>
	<select id="searchGenre" parameterType="kh.member.model.vo.SearchDTO" resultType="string">
		SELECT GAMENAME FROM GR_GA_T WHERE GENRENAME = #{keyword}
	</select>
	<select id="getGenre" resultType="string">
		SELECT * FROM GENRE_T
	</select>
	<insert id="addGame" >
		INSERT INTO GAME_T VALUES(#{gameTitle})
	</insert>
	
	<insert id="posting" parameterType="kh.member.model.vo.BoardVO">
		INSERT INTO POST_T VALUES((SELECT NVL(MAX(POSTID), 0) + 1 FROM POST_T),#{postName},#{id},#{nickname},#{gameName},default, #{contents})
	</insert>
	<select id="getGGcount" parameterType="kh.member.model.vo.GameGenreVO" resultType="int">
		SELECT COUNT(*) FROM GR_GA_T WHERE GAMENAME =#{gameName} AND GENRENAME = #{genreName}
	</select>
	<insert id="addGameGenre" parameterType="kh.member.model.vo.GameGenreVO" >
		INSERT INTO GR_GA_T VALUES(#{gameName}, #{genreName})
	</insert>
	<select id="getMyPage" parameterType="kh.member.model.vo.SearchDTO" resultType="kh.member.model.vo.BoardVO">
		SELECT POSTID, POSTNAME,ID, NICKNAME, GAMENAME
     , NOWDATE, CONTENTS FROM (SELECT ROWNUM AS N
                                    , POSTID
                                    , POSTNAME
                                    , ID
                                    , NICKNAME
                                    , GAMENAME
                                    , NOWDATE
                                    , CONTENTS
                                 FROM (SELECT * FROM POST_T ORDER BY NOWDATE DESC) WHERE ID= #{keyword}
                                 )
                         WHERE N BETWEEN #{start} AND #{end}
	</select>
	<select id="getDetail" parameterType="int" resultType="kh.member.model.vo.BoardVO">
		SELECT * FROM POST_T WHERE POSTID = #{postId}
	</select>
	<select id="findGenre" resultType="string">
		SELECT GENRENAME FROM GR_GA_T WHERE GAMENAME=#{gameName}
	</select>
</mapper>