<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">
	
	<insert id="enroll" parameterType="kh.member.model.vo.MemberVO">
		INSERT INTO MEMBER_T VALUES(#{id}, #{nickname}, #{email},#{password},'F')
	</insert>
	<select id="nickDupChk" parameterType="kh.member.model.vo.MemberVO" resultType="int">
		SELECT COUNT(*) FROM MEMBER_T WHERE NICKNAME=#{nickname}
	</select>
	<select id="idDupChk" resultType="int">
		SELECT COUNT(*) FROM MEMBER_T WHERE id=#{id}
	</select>
	<select id="login" resultType="kh.member.model.vo.MemberVO">
		SELECT * FROM MEMBER_T WHERE id=#{id} AND PASSWORD=#{password}
	</select>
	<update id="updateNick" parameterType="kh.member.model.vo.MemberVO" >
		UPDATE MEMBER_T SET NICKNAME = #{nickname} WHERE ID=#{id}
	</update>
	<update id="updateEmail" parameterType="kh.member.model.vo.MemberVO" >
		UPDATE MEMBER_T SET EMAIL = #{email} WHERE ID=#{id}
	</update>
	<update id="updatePassword" parameterType="kh.member.model.vo.MemberVO" >
		UPDATE MEMBER_T SET PASSWORD = #{password} WHERE ID=#{id}
	</update>
	
	<delete id="deleteAllPost">
		DELETE FROM POST_T WHERE ID =#{id}
	</delete>
	<delete id="withdrawal">
		DELETE FROM MEMBER_T WHERE ID = #{id}
	</delete>
</mapper>